<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link th:href="@{/webjars/bootstrap/5.0.0-beta3/css/bootstrap.min.css}" href="../static/css/bootstrap/bootstrap.css"
          rel="stylesheet">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
    <script th:src="@{/webjars/bootstrap/5.0.0-beta3/js/bootstrap.js}"
            src="../static/js/bootstrap/bootstrap.js"></script>
</head>
<body class="bg-light">
<nav th:replace="header :: navbar">
</nav>
<div class="container d-flex flex-column align-items-center">
    <div class="mt-3 bg-white w-50 d-flex flex-column border">
        <div class="m-2">
            <label th:if="${param.success}" class="alert alert-success text-center w-100">
                Password changed
            </label>
        </div>
        <div class="p-2 border-bottom"><span class="fs-2 mb-3">Change password</span></div>
        <div class="p-3">
            <form th:action="@{/change_password}" th:object="${changePasswordDto}" class="mb-0" method="post">
                <div class="mb-2">
                    <label for="currentPassword" class="form-label required">Current Password</label>
                    <input th:field="*{currentPassword}" class="form-control w-100" type="password" name="currentPassword"
                           id="currentPassword"/>
                    <p th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}" class="alert alert-warning mt-1"></p>
                </div>
                <div class="mb-2">
                    <label for="newPassword" class="form-label required">New Password</label>
                    <input th:field="*{newPassword}" class="form-control w-100" type="password" name="newPassword" id="newPassword"/>
                    <p th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" class="alert alert-warning mt-1"></p>

                </div>
                <div class="mb-2">
                    <label for="confirmNewPassword" class="form-label required">Confirm New Password</label>
                    <input th:field="*{confirmNewPassword}" class="form-control w-100" type="password" name="confirmNewPassword" id="confirmNewPassword"/>
                    <p th:if="${#fields.hasErrors('confirmNewPassword')}" th:errors="*{confirmNewPassword}" class="alert alert-warning mt-1"></p>
                </div>
                <div>
                    <button class="btn btn-primary w-50" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>