<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fields</title>
    <link th:href="@{/webjars/bootstrap/5.0.0-beta3/css/bootstrap.min.css}" href="../static/css/bootstrap/bootstrap.css"
          rel="stylesheet">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/bifont/bootstrap-icons.css}" href="../static/css/bifont/bootstrap-icons.css" rel="stylesheet">
    <script th:src="@{/webjars/bootstrap/5.0.0-beta3/js/bootstrap.js}"
            src="../static/js/bootstrap/bootstrap.js"></script>
    <script src="https://unpkg.com/vue@3.0.11"></script>
    <script th:type="module" th:src="@{/js/fields.js}" defer></script>
    <script th:src="@{/webjars/axios/0.21.1/dist/axios.min.js}"></script>
</head>
<body class="bg-light">
<nav th:replace="header :: navbar">
</nav>
<div id="fields">
    <div class="container mt-3 p-0 bg-white w-100 d-flex flex-column">
        <div class="border d-flex flex-row align-items-center justify-content-between">
            <div class="fs-2 m-2">Fields</div>
            <a :href="'/questionnaire/' + user.id" class="fs-2 text-decoration-none m-2 link-primary">To my questionnaire</a>
            <button @click="newField" class="btn btn-primary text-uppercase m-2" data-bs-toggle="modal"
                    data-bs-target="#add-field-modal">
                <i class="bi-plus"></i> ADD FIELD
            </button>
        </div>
        <div class="border border-top-0">
            <div class="m-2">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col" class="w-20">Label</th>
                        <th scope="col" class="w-20">Type</th>
                        <th scope="col" class="w-20">Required</th>
                        <th scope="col" class="w-20">Is Active</th>
                        <th scope="col" class="w-10"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="field in fields">
                        <td>{{field.label}}</td>
                        <td>{{field.type}}</td>
                        <td>{{field.required}}</td>
                        <td>{{field.active}}</td>
                        <td>
                            <div class="text-end d-flex flex-row">
                                <button @click="editField(field)" class="btn py-0" data-bs-toggle="modal"
                                        data-bs-target="#add-field-modal"><i class="bi-pencil-square"></i></button>
                                <button @click="toDeleteField = field" class="btn py-0" data-bs-toggle="modal"
                                        data-bs-target="#delete-field-modal"><i class="bi-trash-fill"></i></button>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <pagination
                    @on-page-change="pageClicked"
                    @on-page-size-change="pageSizeChanged"
                    :page="page">
            </pagination>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" id="add-field-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form @submit.prevent="addFieldSubmit" method="post" th:action="@{/add_field}">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Field</h5>
                        <button type="button" class="btn-close" id="closeAddFieldModalButton" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row mb-3">
                            <div class="col-3 text-end">
                                <label for="inputText" class="col-form-label required text-secondary">Label</label>
                            </div>
                            <div class="col-6">
                                <input v-model="addForm.label" type="text" name="label" id="inputText"
                                       class="form-control" required minlength="2" maxlength="200">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-3 text-end">
                                <label for="selectType" class="col-form-label required text-secondary">Type</label>
                            </div>
                            <div class="col-6">
                                <select v-model="addForm.type" id="selectType" class="form-select" name="type" required>
                                    <option>Single Line Text</option>
                                    <option>Multiline Text</option>
                                    <option>Radio Button</option>
                                    <option>Checkbox</option>
                                    <option>Combobox</option>
                                    <option>Date</option>
                                </select>
                            </div>
                        </div>

                        <div v-if="haveOptions" class="row mb-3">
                            <div class="col-3 text-end">
                                <label for="optionsInput"
                                       class="col-form-label required text-secondary">Options</label>
                            </div>
                            <div class="col-6">
                                    <textarea v-model="addForm.options" class="form-control" id="optionsInput"
                                              name="options"></textarea>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-3">
                                <input v-model="addForm.required" type="checkbox" id="requiredCheckbox"
                                       class="form-check-input"
                                       name="required">
                                <label for="requiredCheckbox"
                                       class="form-check-label text-secondary ms-1">Required</label>
                            </div>
                            <div class="col-3">
                                <input v-model="addForm.active" type="checkbox" id="isActiveCheckbox"
                                       class="form-check-input" name="active">
                                <label for="isActiveCheckbox" class="form-check-label text-secondary ms-1">Is
                                    Active</label>
                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn border fw-bolder text-uppercase" data-bs-dismiss="modal">
                            Cancel
                        </button>
                        <button type="submit" class="btn btn-primary fw-bolder text-uppercase">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" id="delete-field-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Field "{{toDeleteField.label}}"?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                            id="closeDeleteModalButton"></button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn border fw-bolder text-uppercase" data-bs-dismiss="modal">
                        Cancel
                    </button>
                    <input type="hidden" name="id" v-model="toDeleteField.id">
                    <button @click="deleteField"
                            type="submit" class="btn fw-bolder text-uppercase btn-primary">Confirm
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>